<%- include('./component/header.ejs') %>
</head>
<body>

<%- include('./component/nav_bar') %>


<%- include('./component/breadcrumb') %>


<!-- <div class="container">
  <nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
      <li class="breadcrumb-item active"  aria-current="page"> الحسابات </li>
    </ol>
  </nav>
</div> -->
<!-- <div class="alert alert-primary" role="alert">صفحة التحكم في جميع عمليات المحاسبة</div>  -->


  <div class="container">
    <div class="row align-items-start">
      
        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">الدليل المحاسبي</h5> -->
                  <!-- <p class="card-text"></p> -->
                  <a href="/accounting/accounting_guide" class="btn btn-primary btn-center">الدليل المحاسبي</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="https://images.pexels.com/photos/259091/pexels-photo-259091.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title"></h5> -->
                  <!-- <p class="card-text"></p> -->
                  <a href="/accounting/dailyAgenda" class="btn btn-primary btn-center ">دفتر اليومية العامة</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="https://images.pexels.com/photos/5466814/pexels-photo-5466814.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title"></h5> -->
                  <!-- <p class="card-text"></p> -->
                  <a href="#" class="btn btn-primary btn-center">حسابات الشركاء</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title"></h5> -->
                  <!-- <p class="card-text"></p> -->
                  <a href="#" class="btn btn-primary btn-center">حسابات العملاء</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="https://images.pexels.com/photos/164686/pexels-photo-164686.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title"></h5> -->
                  <!-- <p class="card-text"></p> -->
                  <a href="#" class="btn btn-primary btn-center">حسابات المخازن</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title"></h5> -->
                  <!-- <p class="card-text"></p> -->
                  <a href="#" class="btn btn-primary btn-center">حسابات الموردين</a>
                </div>
              </div>
        </div>

        <div class="col">
          <div class="card" style="width: 12rem;">
              <img src="https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title"></h5> -->
                <!-- <p class="card-text"></p> -->
                <a href="#" class="btn btn-primary btn-center">ميزان المراجعة</a>
              </div>
            </div>
      </div>

      <div class="col">
        <div class="card" style="width: 12rem;">
            <img src="https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title"></h5> -->
              <!-- <p class="card-text"></p> -->
              <a href="#" class="btn btn-primary btn-center">قائمةالدخل الشركة</a>
            </div>
          </div>
    </div>

    <div class="col">
      <div class="card" style="width: 12rem;">
          <img src="https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title"></h5> -->
            <!-- <p class="card-text"></p> -->
            <a href="#" class="btn btn-primary  btn-center">الميزانية</a>
          </div>
        </div>
  </div>

  <div class="col">
    <div class="card" style="width: 12rem;">
        <img src="https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <!-- <p class="card-text"></p> -->
          <a href="#" class="btn btn-primary btn-center">قائمة التدفقات النقدية</a>
        </div>
      </div>
</div>


    </div>
  </div>

</body>

<%- include('./component/footer.ejs') %>