<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <base href="/" >
    <!--     <link rel='stylesheet' href='../assets/css/all.css'> -->
    <link rel='stylesheet' href='../assets/css/bootstrap.rtl.min.css'>
    <link rel='stylesheet' href='../assets/css/main.css'>



<script src="../assets/js/kit.fontawesome.js"></script>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.validate.min.js"></script>
<script src="../assets/js/additional-methods.min.js"></script>
<script src="../assets/js/messages_ar.min.js"></script>
<script src="../assets/js/axios.min.js"></script>
