<div class="suppliersSummary">
<h4>ملخص الموردين</h4>
</div>

<div class="suppliersDIV"  style="overflow-x:auto;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">المورد</th>
            <th scope="col">المشتريات</th>
            <th scope="col">السداد</th>
            <th scope="col">الرصيد</th>
          </tr>
        </thead>
        <tbody>
          <!-- invoices -->
       
      
          
            <tr>
              <th scope="row"> 1 </th>
              <td>محمد سيد</td>
              <td>150000</td>
              <td>90000</td>
              <td>60000</td>
            </tr>
           

        </tbody>
      </table>
</div>

<script>
   
</script>