.FormTable{
    color: black;
    font-size: 24px;
    background-color: #787878;
    border :1px solid #ddd;
    padding : 20px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
.form-control , .form-select{
    background-color: #d9ded3;
}
.bor{
    border:1px solid blue;
    width:100%;
}
#price-error{
    margin-right: 25%;
}
#date-error{
    margin-right: 53%;
}
.container{
    margin:auto;
    width:100%;
    margin-top: 10px;
}
.table {
/* width: max-content; */
width: 100%;
}
td{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.container-search{
padding-right: 12px;
overflow: auto;
width: 100%;
float: right;
border: 2px solid #65625e;
margin-right: 8px;
margin-bottom: 20px;
background: #2e3e4c;
}
.FormSearch{
margin: auto;
margin-bottom: -12px;
margin-top: 19px;
margin-right: 0px;
}
.navbarSearch{
color: antiquewhite;
}
.row{
    width: 100%;
}

.rowTwo{
margin-right: 16.4%;
}
.rowItems{
margin-bottom: 25px;
}
.columnsItems{
margin-bottom: 12px
}
.div_column{
margin-bottom: 18px;
}
.error{
color: #860101;
}

.alert-notInvoices{
margin-top: 30px !important
}

.submit{
margin-right: 50%;
}

.pSearch{
margin-top: 15px;
}
/* ///////////////////// */
.suppliersDIV{
    margin: auto;
    margin-top: 15px;
}
.suppliersSummary{
margin: auto;
width: 100%;
margin-top: 30px;
height: 174.3px;
background-color:#2e3e4c ;
color:antiquewhite ;
}
@media (max-width: 1200px) {
.container{
    margin-right: 10px;
    margin-left: 10px;
}
.FormTable{
width: 84%;
}
.col-3{
width: 40%;
}
.rowTwo{
margin-right: 0px;
}
.item , .dateTo , .DebtorAccount , .CreditorAccount{
margin: auto;
margin-right: 44%;
}
.submit{
margin-right: 50%;
}
/* {
margin: auto;
margin-right: 44%; */
/* } */
}



@media (max-width: 998px) {
.container{
margin-right: 10px;
margin-left: 10px;
margin-right: auto;
}
.FormTable{
width: 100%;
}
}

@media (max-width: 766px) {
.container{
margin-right:  0px;
margin-left:  0px;
margin-right: auto;
}
.FormTable{
width: 100%;
}
.form-input{
margin-bottom: 30px !important;
/* display: inline-block; */
}
.date{
display:table
}
.error{
display: block;
}
.col-3 {
display: contents;
}






}

@media (max-width: 512px) {
.col-md-4{
margin-bottom: 35px;
}
#inputItem{
margin-top: -17px
}
.form-input{
width: 100%;
}
.date{
    margin-top: -18px
}
.col-3 {
display: contents;
}
}


@media(max-width:406px){
#price-error{
    margin-right: 10%;
}
}
